*{
  padding: 0;
  margin: 0;
  color: var(---font-color);
  font-family: "Montserrat", serif;
}
:root{
  ---ship-color: #7c2d12;
  ---sea-color: #06b6d4;
  ---background-color: #171717;
  ---font-color: #f8fafc;
  ---miss-color: #fb923c;
  ---hit-color: #b91c1c;
}
svg{
  fill: var(---font-color);
  height: 2rem;
}
.home, .game, .congrat{
  background-color: var(---background-color);
}
.home{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  gap: 2%;
  box-sizing: border-box;
}
.home table{
  flex: 1 1 0;
  aspect-ratio: 1/1;
}
.home>button{
  border: 1px solid var(---sea-color);
  background-color: var(---background-color);
  flex: 0;
}
.input{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input>*{
  max-width: 20%;
}
.input input, .input select, .input button{
  border: 1px solid var(---sea-color);
  background-color: var(---background-color);
}
.input input{
  padding-left: 1rem;
}
.input button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.game{
  padding: 1%;
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 7fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 2%;
  column-gap: 5%;
}
table{
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
}
tr{
  flex: 1 1 0;
  display: flex;
}
table button{
  flex: 1 1 0;
  background-color: var(---sea-color);
  box-sizing: border-box;
  border: 1px solid var(---background-color);
}
.hide .ship{
  background-color: var(---sea-color);
}
.ship{
  background-color: var(---ship-color);
}
.checked{
  background-color: var(---miss-color);
}
.ship.checked{
  background-color: var(---hit-color);
}
.congrat{
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.congrat button{
  border: none;
  padding: 1%;
  background-color: #171717;
  opacity: 100%;
}